body{
    max-width: 1440px;
    margin: auto;
    padding: 25px;

}
.header{
    display: flex;
    justify-content: center;
}
.header>div {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
}
.div1{
    flex-direction: column;
}
    

.background-image {
background-image:url(https://funart.pro/uploads/posts/2020-04/thumbs/1586352422_34-p-chernie-foni-dlya-bizness-saitov-110.png);
color:#fff;
}

.body-class {
    font-family: 'Roboto', sans-serif;
    
   
}

.border {
border:1px solid #ccc;
width: 300px;
padding: 10px;
background-color:darkblue;
}


.container {
    max-width: 1440px;
    margin: 0 auto;
    
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  

  .float-right {
    float:right;

  }

  .border-radius { 
    border-radius: 50px;
 }

 .line-height {
     line-height: 26px;
 }

 .width-class {
width: 80px;
 }